<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>XV Foro Nacional y I internacional de Educación en Salud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;" style="background">
  <table border="1"  cellpadding="0" cellspacing="0" width="100%" style="border-color: #ffffff;" >
    <tr>

      <td style="padding: 40px 30px 40px 30px;">
        <table align="center"  cellpadding="0" cellspacing="0" width="700"  style="border-collapse: collapse;">

          <tr>
            <!-- <td bgcolor="#ffffff" style="font-size: 0; line-height: 0; border-color: #ffffff;" height="10px" width="300px">
            </td> -->
            <td align="rigth" bgcolor="#ffffff" style="font-size: 0; line-height: 0; border-color: #70bbd9;" height="10">
              <img src="logo_foro_naranja.png" alt="" width="700" height="146" style="display: block;" />
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="">
                <tr>
                  <td>
                    [DANIEL YEPEZ RAMIREZ]
                  </td>

                </tr>

                <tr>
                  <td>
                    [Folio del trabajo]
                  </td>
                </tr>

                <tr>
                  <td>
                    Estimado Investigador(a)
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4><br>Presente.</h4>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:justify;">
                    El Comité de Selección de trabajos de investigación para el <b>XV Edición Nacional y primera Internacional del Foro de Educación en Salud</b>, a celebrarse del 04 al 09 de noviembre del 2018 en la Ciudad de Cancún, Quintana Roo, recibió más de <b> [Total de trabajos] </b>trabajos. Sin embargo, por motivos de espacio solo fue posible aceptar <b>[400]</b>.  por lo que lamentamos notificarle que su trabajo de investigación no fue seleccionado para presentarse.
                  </td>
                </tr>
                <tr>
                  <td style="text-align:justify;">
                    <br>Le enviamos un cordial saludo y agradecemos su interés y su valiosa participación en el <b>XV Foro Nacional y I Foro Internacional de Educación en Salud</b>.
                  </td>
                </tr>
                <tr>
                  <td >
                    <p>Sin otro particular, le enviamos un cordial saludo.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="#ffffff" style="line-height: 0;">
              <b><p>Atentamente</p></b><br>
              <b><p>Comité organizador</p></b>
            </td>
          </tr>

          <tr>
            <td align="center" bgcolor="#ffffff" style="font-size: 0; line-height: 0; border-color: #70bbd9;" height="10">
              <img src="footer.png" alt="" width="700" height="70" style="display: block;" />
            </td>
          </tr>

        </table>
      </td>

    </tr>

  </table>
</body>
</html>
