#div_redes {
	z-index: 0;
}
.footer-meta{
	#background-color: #FFF;
}
.shrink .logo a img {
	height: 2em;
}
label.formulario {
	font-size: 16px;
	font-weight: 400px;
	color: #FFF;
}
.page-section.background-img{
	/* background: transparent url("../img/preview/background-img-slider.jpg") 50% 0 repeat !important; */
	/* background: transparent url("../img/preview/Img_1_head.png") 50% 0 repeat !important; */
	background-color: #fff;
	background-position: 50% 0 !important;
	background-size: cover !important;
}
.wide .page-section{
	padding-top: 120px;
	padding-bottom: 30px;
}
.caption-title{
	font-size: 28px;
	color: #333;
}
.nav-tabs > li.active > a {
	color: #f15a29;
	font-weight: 700;
}
.nav-tabs > li > a {
	color: #f15a29;
	font-weight: 500;
}
.nav-tabs {
	margin-bottom: 10px;
}
/*.tablero-menu-item {
	background-color: red;
}*/
.sf-menu ul li {
	background-color: rgba(13, 29, 49, 0.80);
	border-radius: 1px;
}


.sf-menu ul li a:hover {
	color: #000;
}
#my_modal{
	z-index: 100000;
}
.modal-header h4{
	color: #000;
	font-weight: 600;
}

label {
    font-weight: 300;
    text-align: left !important;
}
.sf-menu ul li a {
	color: #FFF;
}

.liga-login {
	color: #f15a29;
}
.section-title {
	margin: 10px 0 20px 0;
  font-weight: normal;
}
/*
Elementos de formularios
*/
.form-background{
	background-color: rgba(13,29,49,0.8);
	border-radius: 10px;
	padding: 15px 10px;
}
.form-control {
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	font-size: 13px;
	color: #6d7a83;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	border-color: #fff;
	background-color: rgba(2, 2, 2, 0.2);
	width: inherit;
}
.form-etiquetas{
	color: #fff;
}

.form-control:focus {
	color: #fff;
	border-color: #fff;
	background-color: rgba(2, 2, 2, 0.5);
}

.frm-auto{
	width: auto;
}

.btn-theme{
	color: #ffffff;
	background-color: #dc143c;
	border-color: #dc143c;
	background-color: #f15a29;
	border-color: #f15a29;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	padding: 15px 35px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-theme:hover {
    background-color: rgba(2, 2, 2, 0.5);
    border-color: #435469;
    color: #ffffff;
}
.color .btn-theme {
    color: #f15a29;
    /*color: #dc143c;*/
    background-color: #ffffff;
    border-color: #ffffff;
}
.color .btn-theme:hover {
    background-color: #435469;
    border-color: #435469;
    color: #ffffff;
}
.panel-default {
    border-color: transparent;
    background-color: #eee;
    border-radius: 10px;
	padding: 15px 10px;
}
.area_registro label{
	color: #fff;
}

.imss-foro-gris{
	color: #6d7a83 !important;
}

@media (max-width: 991px) {
	.sf-menu.nav > li > a, .sf-menu a{
		color: white;
	}
}

.modal-dialog {
	margin-top: 140px;
}
.bullet-folio {
	list-style-type: circle;
	margin-left: 50px;
}
#overlay {
    background: rgba(0,0,0,.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    display: none;
}